.grid-container{
    margin: 15px;
    padding: 10px;
    background-color: aqua;
    display: grid;
    gap: 4rem;
    grid-template-columns: auto auto auto;
    /* justify-content: space-between; */
    /* height: 900px; */
    align-content: start;
}
.grid-item{
    background-color: #fff;
    /* height: 150px; */
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    grid-column: 1/4;
}
.item2{
    grid-row: 2/6 ;
}
.item3{
    grid-area: 2/2/4/3;
}