/* div.main ~ p{
    background-color: #000;
    color: #fff;
} */
div.main ~ a{
    color: #000;
    text-decoration: none;
}
div.main ~ a:link{
    background-color: green;
    color: #fff;
}
div.main~a:visited{
    background-color: red;
    color: green;
}
div.main ~ a:hover{
    color: #FF00FF;
    background-color: #fff;
}
div.main ~ a:active{
    color: #0000FF;
}
p:first-child{
    background-color: rebeccapurple;
    color: #fff;
}